.statistics {
  margin-bottom: 50px;
  width: 280px;
  margin-inline: auto;
}
.title {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 3px;
  margin-top: 28px;
}

.diagram {
  position: relative;
  width: 280px;
  height: 280px;
  margin-bottom: 27px;
}

.balance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: 50px;
  position: relative;
  padding-block: 12px 14px;
  padding-inline: 20px 21px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}

.arrow {
  width: 20px;
  height: 11px;
}

.listContainer {
  position: absolute;
  height: 157px;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 5;
}

.list {
  display: flex;
  flex-direction: column;
}

.listHeader {
  background-color: var(--white);
  padding-inline: 20px;
  padding-block: 16px 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 100%;
}

.listItem {
  padding-inline: 20px;
  padding-block: 14px;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px 0px #ffffff99;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 100%;
}

.color {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 16px;
}

.name,
.value {
  padding-top: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.name {
  width: 120px;
  height: 24px;
  margin-right: 10px;
}

.value {
  width: 70px;
  justify-content: flex-end;
}

.cashflowContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
  padding-inline: 20px;
}

.cashflow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 100%;
}

.income,
.expenses {
  font-weight: var(--font-weight-regular);
}

.income {
  color: var(--green);
}

.expenses {
  color: var(--red);
}

@media screen and (min-width: 768px) {
  .statistics {
    width: 704px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .title {
    margin-bottom: 15px;
  }
  .diagram {
    width: 336px;
    height: 336px;
  }

  .buttons {
    flex-direction: row;
    gap: 16px;
    margin-block: 40px 20px;
  }

  .button {
    width: 160px;
    height: 50px;
    padding-block: 13x;
    padding-inline: 20px 21px;
  }

  .arrow {
    width: 18px;
    height: 9px;
  }

  .list {
    width: 336px;
  }

  .listItem {
    padding-inline: 15px 20px;
  }

  .name {
    width: 200px;
    margin-right: 16px;
  }

  .value {
    width: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
  width: 1248px;
  justify-content: flex-end;
  }

  .title {
    margin-top: 32px;
  }

  .diagram {
    width: 288px;
    height: 288px;
  }

  .buttons {
    gap: 32px;
    margin-block: 97px 20px;
  }

  .button {
    width: 182px;
    padding-block: 12px 14px;
    padding-inline: 20px 21px;
  }

  .list {
    width: 395px;
  }

  .listItem {
    padding-inline: 28px 29px;
  }

  .listHeader {
    padding-inline: 28px 29px;
  }

  .value {
    width: 80px;
  }

  .cashflowContainer {
    padding-inline: 28px 29px;
  }
}
