.listContainer {
  width: 280px;
  margin-top: 32px;
  margin-inline: auto;
}

.spinnerContainer {
  padding-top: 50px;
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;  
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tablet {
  display: none;
}

.item {
  display: flex;
  width: 280px;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  box-sizing: border-box;
}

.income {
  background: linear-gradient(to right, var(--green) 5px, var(--white) 5px);
}

.expense {
  background: linear-gradient(to right, var(--red) 5px, var(--white) 5px);
}

.section {
  display: flex;
  flex-direction: row;
  padding-inline: 20px;
  padding-block: 12px 8px;
  justify-content: space-between;
  font-family: var(--font-secondary);
  line-height: 100%;
  border-bottom: 1px solid #dcdcdf;
}

.name {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.value {
  font-size: 16px;
}

.comment {
  text-align: right;
}

.income .sum {
  color: var(--green);
  font-weight: var(--font-weight-bold);
}

.expense .sum {
  color: var(--red);
  font-weight: var(--font-weight-bold);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 9px 12px;
}

.deleteBtn {
  background-color: var(--green);
  color: var(--white);
  border-radius: 18px;
  font-family: var(--font-secondary);
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.editBtn {
  display: flex;
  height: 14px;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.editIcon {
  height: 14px;
  width: 14px;
  margin-right: 2px;
  margin-bottom: 1px;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  .listContainer {
    margin-top: 20px;
    width: 704px;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: block;
    display: flex;
    flex-direction: row;
    padding-block: 16px 15px;
    padding-inline: 20px 141px;
    background-color: var(--white);
    border-radius: 30px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 100%;
  }

  .type {
    margin-left: 65px;
    margin-right: 46px;
  }

  .comment {
    margin-left: 68px;
    margin-right: 108px;
  }

  .tabletItem {
    width: 704px;
    min-height: 52px;
    box-sizing: border-box;
    padding-inline: 20px 12px;
    padding-block: 14px 14px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    border-top: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px 0px #ffffff99;
  }

  .tabletItem:nth-child(2) {
    border-top: none;
  }
  .tabletItem:last-child {
    box-shadow: none;
  }

  .dataContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 543px;
  }

  .value {
    min-width: 24px;
    display: block;
    padding-top: 4px;
    box-sizing: border-box;
  }

  .date {
    min-width: 56px;
    max-width: 56px;
    margin-right: 58px;
  }

  .typeValue {
    min-width: 11px;
    max-width: 11px;
    margin-right: 63px;
    text-align: center;
  }

  .categoryValue {
    min-width: 120px;
    max-width: 120px;
    margin-right: 19px;
  }

  .commentValue {
    min-width: 140px;
    max-width: 140px;
  }

  .sum {
    min-width: 72px;
    max-width: 72px;
    text-align: right;
  }

  .tabletIncome .sum {
    color: var(--green);
    font-weight: var(--font-weight-bold);
  }

  .tabletExpense .sum {
    color: var(--red);
    font-weight: var(--font-weight-bold);
  }

  .buttons {
    padding: 0;
  }

  .deleteBtn {
    padding-block: 4px;
    padding-inline: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .listContainer {
    display: flex;
    justify-content: flex-end;
    width: 1248px;
    margin-top: 46px;
    padding-top: 40px;
  }

  .spinnerContainer,
  .tablet { 
    width: 714px;
    margin-left: auto;
  }

  .tabletItem {
    width: 700px;
    margin-left: 15px;
    padding-inline: 5px 8px;
  }
}
