.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  height: 66px;
  z-index: 10;
}

.navItem {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
  color: black;
  flex-direction: row;
  height: 27px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 100%;
}

.navIcon {
  width: 18px;
  height: 18px;
  fill: var(--light-blue);
}

.iconContainer {
  width: 18px;
  height: 18px;
  border-radius: 6px;
}

.active .navIcon {
  fill: var(--blue);
}

.active .iconContainer {
  background-color: var(--white);
  box-shadow: 0px 3px 10px 0px var(--blue-blur);
}

.active .navText {
  font-weight: var(--font-weight-bold);
}
